.mobile {
    display: none;
}

.container{
    display: flex;

    
    .contentContainer{
        flex: 1;
    }
}


@media (max-width: 1000px) {
    .mobile {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        gap: 1rem;

        position: fixed;
        z-index: 1000;

        padding: 2rem;
        width: 100vw;
        height: 100vh;

        font-size: 1.5rem;

        background-color: var(--gray-13);
    }
}